@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply bg-gray-50; */
    background-attachment: fixed;
    @apply bg-gradient-to-tl from-blue-200 to-cyan-50;
}

@layer components {
    .card {
        @apply m-2 p-4 border border-gray-400 bg-gray-100 rounded-lg shadow-md;
    }
    .input {
        @apply px-2 py-2 lg:px-4 lg:py-2 text-gray-900 bg-white border border-gray-500 -ml-[1px];
    }
    .button {
        @apply input hover:bg-gray-100;
    }
}
.animation-in {
    animation: fadein 5s ease-in-out forwards;
}

@keyframes fadein {
    from,
    to {
        opacity: 0;
        transform: translateX(100%);
    }
    10%,
    90% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
